extends layout

block content
  h1= title

  p #[strong Price:] #{item.price}
  p #[strong Description:] #{item.description}
  p #[strong Category:] 
    a(href=item.category.url) #{item.category.name}
  p #[strong Number in Stock:] #{item.number_in_stock}
  img(src='../../images/' + item.itemImage class="img-fluid img-thumbnail" style='width: 200px; height: 200px')

  hr
  p  
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item