extends layout

block content
  h1= title

  form(method='POST' action='' enctype='multipart/form-data')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' value=(undefined===item ? '' : item.name) )
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select' placeholder='Select Category' name='category' required='true' )
        for category in categories
          if item
            option(
              value=category._id
              selected=(
                category._id.toString()==item.category._id
                || category._id.toString()==item.category
              ) ? 'selected' : false
            ) #{category.name}
          else
            option(value=category._id) #{category.name}
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' rows='3') #{undefined===item ? '' : item.description}
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='text', placeholder='price of item' name='price' value=(undefined===item ? '' : item.price) required='true') 
    div.form-group
      label(for='number_in_stock') Number in Stock:
      input#number_in_stock.form-control(type='text', placeholder='Number of items in stock' name='number_in_stock' value=(undefined===item ? '' : item.number_in_stock) required='true') 
    div.form-group
      label(for='image') Image
      input#image.form-control-file(type="file" name='image' required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg